@(url: String, token: String, name: String, email: String)
Hej @name,
<br />
<br />
<p>
    Du eller nogen anden har begært at dit password nulstilles<br />
    Hvis dette ikke var din mening så kan du bare ignorerere dette mail.<br />
    <br />
    Hvis du vil nullstille dit password, er at klickke på <a href="@url">denne link for at ændre dit password</a>.<br />
 </p>
<hr />
 <p>
	You or someone else requested a password reset for your account.<br />
	If that was not you or your intention, just relax and ignore this email.<br />
    <br />
    If you wish to reset your password, all you need to do is <a href="@url">follow this link to reset your password</a>.<br />
</p>
<p>
	Venlig hilsen,<br />
	<i>Vesterbronx Gym</i>
    <br />
        <img src="http://vesterbronxgym.herokuapp.com/assets/customers/vbgym/icons/VBGYM_1_logo.jpg" align="left" height="10" width="232">
    </p>