@(verificationUrl: String, token: String, name: String, email: String)
Howdy @name,
<br />
<br />
<p>
    For at verificere din email address, <a href="@verificationUrl">klick på denne link</a>.
</p>
<hr />
<p>
	To verify your e-mail address, <a href="@verificationUrl">now follow this link</a>.
</p>
<br />
<p>
    Venlig hilsen,<br />
    <i>Vesterbronx Gym</i>
    <br />
        <img src="http://vesterbronxgym.herokuapp.com/assets/customers/vbgym/icons/VBGYM_1_logo.jpg" align="left" height="10" width="232">
</p>