@(userProfileForm: Form[_])

@import helper._

@main("Bruger Profil","userProfile") {

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>Bruger profil</h1>
    </div>
  </div>

  <div id="userProfile" class="row">

      <a href="@routes.UserProfileController.userProfilePicture">
        @if(controllers.UserProfileController.userProfileImageUrl() != null) {
            <image height="200" src="@controllers.UserProfileController.userProfileImageUrl()" />
        } else {
          Upload Profil Billede
        }
      </a>
      <p/>
      <hr/>

        @* Display proprietary login form *@
    	@helper.form(routes.UserProfileController.doUserProfile, 'class -> "form-horizontal", 'role -> "form") {

            @if(userProfileForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @userProfileForm.globalError.message
		     	</p>
            }
            <input type="hidden" name="id" value="@userProfileForm("id").value"/>

            <table style="width: auto;" class="table  table-striped  table-condensed">
                <tr>
                    <td>
                    @inputText(
                        userProfileForm("firstName"),
                        '_label -> "For-",
                        '_showConstraints -> false
                    )
                    </td>
                    <td>
                    @inputText(
                        userProfileForm("middleName"),
                        '_label -> "Mellem-",
                        '_showConstraints -> false
                    )
                    </td>
                    <td>
                    @inputText(
                        userProfileForm("lastName"),
                        '_label -> "Efter navn",
                        '_showConstraints -> false
                    )
                    </td>
                </tr>
            </table>
            <!--  div class="auto"  -->
            @inputRadioGroup(
                userProfileForm("sex"),
                options = Seq("M"->"Mand","F"->"Kvinde"),
                '_label -> "Køn",
                '_error -> userProfileForm("sex").error.map(_.withMessage("Angiv køn")),
                '_showConstraints -> false
            )
<!--
            @inputText(
                userProfileForm("phone"),
                '_label -> "Telefon",
                '_type -> "tel",
                '_showConstraints -> false
            )
-->
<!--
            @helper.input(userProfileForm("phone")) { (id, name, value, args) =>
                <input type="tel" name="@name" id="@id" @toHtmlArgs(args)>
            }
-->
            <dl class=" " id="phone_field">
                <dt><label for="phone">Telefon</label></dt>
                <dd>
                    <input type="tel" id="phone" name="phone" value="@userProfileForm("phone").value"  />
                </dd>
            </dl>

            <table style="width: auto;" class="table  table-striped  table-condensed">
                <tr>
                    <td>
                        @inputText(
                            userProfileForm("street"),
                            '_label -> "Gade",
                            '_showConstraints -> false
                        )
                    </td>
                    <td>
<!--
                        @inputText(
                            userProfileForm("streetNo"),
                            '_label -> "Nr",
                            'columns -> 5,
                            '_type -> "number",
                            '_showConstraints -> false
                        )
-->
                        <dl class=" " id="streetNo">
                            <dt><label for="streetNo">Nr</label></dt>
                            <dd>
                                <input type="number" id="streetNo" name="streetNo" value="@userProfileForm("streetNo").value"  />
                            </dd>
                        </dl>
                    </td>
                </tr>
            </table>

        <!-- /div -->
    <!--  div class="auto"  -->

            @inputText(
                userProfileForm("line2"),
                '_label -> "Address 2",
                '_showConstraints -> false
            )
            <table style="width: auto;" class="table  table-striped  table-condensed">
                <tr>
                    <td>
<!--
                        @inputText(
                            userProfileForm("zip"),
                            '_label -> "PostNr",
                            '_type -> "number",
                            '_showConstraints -> false
                        )
-->
                        <dl class=" " id="zip">
                            <dt><label for="zip">Postnr</label></dt>
                            <dd>
                                <input type="number" id="zip" name="zip" value="@userProfileForm("zip").value"  />
                            </dd>
                        </dl>
                    </td>
                    <td>
                        @inputText(
                            userProfileForm("city"),
                            '_label -> "By",
                            '_showConstraints -> false
                        )
                    </td>
                </tr>
            </table>

<!--
            @inputText(
                userProfileForm("country"),
                '_label -> "Land",
                '_showConstraints -> false
            )
-->

            @inputDate(
                userProfileForm("birthDate"),
                '_label -> "Fødelsedag",
                '_dateFormat -> "yyyy-MM-dd",
                'class -> "date-picker",
                'type -> "date-local",
                'step   -> 1,
                '_size  -> 10,
                '_showConstraints -> false,
                '_help -> "Brug format = ÅÅÅÅ-MM-DD, hvis det ikke vises kalender komponent!"
            )


        <!-- /div -->
    <!--  div class="auto"  -->

            <a href="http://vesterbronxgym.dk/images/Webside_simpel_4.pdf" target="_new">Læs om vores medlemsbetingelser her!</a>

            @inputRadioGroup(
                userProfileForm("acceptedTerms"),
                options = Seq("A"->"Accepterer","F"->"Accepterer ikke"),
                '_label -> "Accepterer betingelser",
                'label -> "Kan kontaktes via email",
                '_error -> userProfileForm("acceptedTerms").error.map(_.withMessage("Skal angives")),
                '_showConstraints -> false
            )
            @inputRadioGroup(
                userProfileForm("contactPermission"),
                options = Seq("A"->"Må kontaktes via email","F"->"Må IKKE kontaktes"),
                '_label -> "Kan kontaktes via email",
                'label -> "Kan kontaktes via email",
                '_error -> userProfileForm("contactPermission").error.map(_.withMessage("Skal angives")),
                '_showConstraints -> false
            )

            </div>
            <button type="submit" class="btn btn-default">Gem</button>
    	}

  </div>

}
